<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectServlet</servlet-name>
    <servlet-class>com.lgs.servlet.SelectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>select</servlet-name>
    <servlet-class>com.lgs.servlet.select</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Selectct</servlet-name>
    <servlet-class>com.lgs.servlet.Selectct</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.lgs.servlet.Register</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>SelectServlet</servlet-name>
    <url-pattern>/servlet/SelectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>select</servlet-name>
    <url-pattern>/servlet/select</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Selectct</servlet-name>
    <url-pattern>/servlet/Selectct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/servlet/Register</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>login.js</welcome-file>
    <welcome-file>logout.jsp</welcome-file>
    <welcome-file>register.jsp</welcome-file>
    <welcome-file>register.html</welcome-file>
    <welcome-file>select.jsp</welcome-file>
    <welcome-file>change.jsp</welcome-file>
  </welcome-file-list>
</web-app>
